<div class='landing-background'>
  <div>
    <h3>Ryan Hamill</h3>
    <h5>Full Stack Developer</h5>
  </div>
  <div class='full-stack-title'>
    <h1>Full Stack Development</h1>
    <h5>Ruby, Rails, SQL, HTML, CSS</h5>
  </div>
</div>
<div class='white-scroll'>
  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</div>
<div class='project-index'>
  <% @projects.each do |project| %>
    <div class='project'>
      <%= image_tag(project.index_image) %>
    </div>
  <% end %>
</div>
<div class='white-scroll'></div>
<div class='about-me'>
  <div class='me-pic'>
    <a href="http://imgur.com/Lpdc2qD"><img src="http://i.imgur.com/Lpdc2qD.jpg" title="source: imgur.com" /></a>
  </div>
</div>
