/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h5 {
  margin: 0;
}

.full-stack-title {
  text-align: center;
  height: 175px;
  background-color: #FFF;
  color: #2B2B2B;
}

.title-center {
  float: right;
  width: 80%;
}

.bold-title h1 {
  font-weight: 900;
  padding-right: 1em;
}

.slim-title h1 {
  font-weight: 100;
}

.full-stack-title h1 {
  display: block;
  float: left;
  padding-top: 1em;
  margin-bottom: 1em;
  font-size: 45px;
}

.skills-top {
  float: right;
  width: 70%;
}

.full-stack-title h5 {
  margin: 0 2em;
  display: block;
  float: left;
  font-weight: 500;
}

.highchart {
  text-align: center;
  height: 175px;
  background-color: #eee;
}

.highchart h5 {
  font-size: 10px;
  padding-top: 15em;
}

.project-index {
  background-color: #F7F7F7;
  height: auto;
  color: white;
  margin: auto;
}

.about-me {
  background-color: #f7f7f7;
  height: 30em;
  color: white;
  position: relative;
  margin-bottom: 350px;
}

.about-space{
  height: 3em;
}

.about-white {
  background-color: #fff;
  height: 25em;
}

.project {
  max-height: 23em;
}

.project-white {
  background-color: #FFF;
  width: 55%;
  height: 17em;
  display: inline-block;
  margin: 3em 0 0 0;
  z-index: -1;
}

.project img {
  margin: 2em 0 2em 2em;
  padding-top: 1em;
  max-height: 17em;
  vertical-align: top;
}

.project h2 {
  padding-top: 1em;
  visibility: visible;
  position: relative;
  text-align: center;
  color: #2B2B2B;
  font-size: 35px;
  margin: 0;
  font-weight: 900;
}

.project h3, h4, h5 {
  visibility: visible;
  position: relative;
  text-align: center;
  font-weight: 500;
  color: #2B2B2B;
  margin-top: 1em;
  font-size: 15px;
}

.project a {
  text-decoration: none;
  color: #2B2B2B;
}

.project h4 {
  font-style: italic;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  color: #2B2B2B;
}

.project h5 {
  font-weight: 700;
}

.project h3 {
  font-size: 12px;
  padding: 0 1em;
}

.me-pic img {
  display: inline-block;
  max-height: 200px;
  margin: 5em 1em 8em 4em;
}

footer {
  background: #a7abb1;
  padding: 0 1em 1em 1em;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 350px;
  background-color: #1a1a1a;
  padding: 0;
  text-align: center;
  z-index:-2;
}

footer a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10em;
  font-weight: 300;
  font-size: 10px;
  padding-top: 20px;
  letter-spacing: 1px;
  position: relative;
}

.footer-top {
  margin-top: 100px;
}

.footer-space {
  height: 10em;
}

.footer-bottom {
  color: #666;
  width: 86%;
  border-top: 1px solid rgba(102,102,102,1);
  margin: 0 5em 2em 5em;
  padding-top: 15px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
}

.me-pic, .bio, .skill {
  width: 33%;
  color: black;
  float: left;
  margin-top: 1em;
}

.bio p {
  font-weight: 400;
  font-size: 12px;
  margin-right: 4em;
  margin-top: 2px;
  text-align: justify;
}

.bio h2 {
  margin-bottom: 2px;
  font-weight: 900;
}

.skill h2 {
  margin-bottom: 2px;
}

.skill h5 {
  text-align: left;
}

.skill p {
  margin: 0 0 1em 0;
}

.bio {
  margin-top: 2em;
}

.skill {
  margin-top: 2em;
  width: 30%;
}

.project-image img {
  height: 500px;
}

.show-content {
  position: relative;
}

.show-content h1, .show-content h3, .show-content p, .show-content h5, .show-content h4 {
  text-align: center;
}

.show-content img {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

.show-content h5 {
  margin-bottom: 1em;
}

.project-image-wrapper {
  background-color: #727272;
}

.show-content h4 {
  font-weight: 600;
  font-size: 13px;
}

.show-content a, .show-content span {
  color: #31393a;
  text-decoration: none;
  margin: 0 1em 0 1em;
  font-weight: 200;
  font-size: 12px;
}

.home a {
  position: fixed;
  float: right;
  display: block;
  margin: 1em 3em 0 3em;
  color: #31393a;
  text-decoration: none !important;
  font-size: 10px;
  z-index: 1;
}

#highchart_id {
  margin: 2em 0 0 3em;
  position: absolute;
  height: 130px;
  width: 90%;
}




.project img:hover {
  opacity: 0.2;
}

.project:hover p {
  visibility: visible;
}

.project:hover h3 {
  visibility: visible;
}

.white-scroll i:hover {
  opacity: 0.5;
}

footer a:hover {
  color: white;
}




@media (max-width: 950px) {
  .about-me {
    height: 47em;
  }

  .bio {
    clear: both;
    margin: 0 1em 0 1em;
    width: auto;
  }

  .bio p {
    margin-right: 0;
  }

  .me-pic img {
    margin: 1em;
  }

  .skill h2 {
    margin-top: 0;
  }

  footer a {
    margin: 0 6em 0 6em;
  }

  #highchart_id {
    width: 80%;
  }
}

@media (max-width: 860px) {
  .slim-title h1 {
    font-size: 25px;
    padding-top: 2em;
    margin-top: 13px;
  }
  .skills-top {
    width: 90%;
  }
}

@media (max-width: 660px) {
  .title-center {
    width: 95%;
  }

  .slim-title h1 {
    font-size: 15px;
    padding-top: 4em;
  }

  .skills-top h5 {
    margin: 0 1em;
  }
}

@media (max-width: 600px) {
  .about-me {
    height: 55em;
  }

  footer a {
    margin: 0 2em 0 2em;
  }

  .project-index img {
    width: 100%;
  }

  .project-index {
    height: inherit;
  }

  .grey-media {
    display: none;
  }

  .project p {
    bottom: 3em;
  }

  .project h3 {
    bottom: 10em;
  }

  #highchart_id {
    width: 73%;
  }
}


@media (max-width: 460px) {
  .full-stack-title h1 {
    margin-bottom: 0;
  }

  .slim-title h1 {
    margin-top: 0;
    padding-top: 0;
  }

  .skills-top {
    margin-top: 10px;
    width: 100%;
  }

  .full-stack-title {
    height: 220px;
  }

}
