/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.landing-background {
  top: 0;
  height: 500px;
  background-color: #31393a;
  color: white;
  padding: 1em;
}

.landing-background h1, h3, h5 {
  font-weight: 200;
}

.landing-background h3, h5 {
  margin: 0;
}

.landing-background h1 {
  margin: 5em 0 1em 0;

}

.full-stack-title {
  text-align: center
}

.white-scroll {
  height: 200px;
}

.white-scroll i {
  float: right;
  margin: auto;
  width: 50%;
  margin-top: 5em;
}

.project-index {
  background-color: #000026;
  height: 91em;
  color: white;
  margin: auto;
}

.about-me {
  background-color: #a0aaac;
  height: 30em;
  color: white;
}

.project img {
  display: block;
  margin: auto;
  padding-top: 1em;
  max-width: 40em;
  vertical-align: top;
}

.me-pic img {
  display: inline-block;
  max-height: 200px;
  margin: 8em 1em 8em 4em;
}

footer {
  background: #a7abb1;
  padding: 0 1em 1em 1em;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 4em;
  background-color: #31393a;
  padding: 4em 1em 1em 1em;
  text-align: center;
}

footer a {
  color: #a0aaac;
  text-decoration: none;
  margin: 0 10em 0 10em;
  font-weight: 200;
  font-size: 12px;
}

.me-pic, .bio, .skill {
  width: 33%;
  color: black;
  float: left;
  margin-top: 1em;
}

.bio p {
  font-weight: 200;
  font-size: 14px;
  margin-right: 4em;
  margin-top: 2px;
  text-align: justify;
}

.bio h2 {
  margin-bottom: 2px;
}

.skill h2 {
  margin-bottom: 2px;
  margin-top: 2em;
}

.skill p {
  margin: 0 0 1em 0;
}

.bio {
  margin-top: 6em;
}

.skill {
  margin-top: 4em;
  width: 30%;
}

.project-image img {
  height: 500px;
}

.show-content {
  position: relative;
}

.show-content h1, .show-content h3, .show-content p, .show-content h5, .show-content h4 {
  text-align: center;
}

.show-content img {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

.show-content h5 {
  margin-bottom: 1em;
}

.project-image-wrapper {
  background-color: #727272;
}

.show-content h4 {
  font-weight: 600;
  font-size: 13px;
}

.show-content a, .show-content span {
  color: #31393a;
  text-decoration: none;
  margin: 0 1em 0 1em;
  font-weight: 200;
  font-size: 12px;
}

.home a {
  position: fixed;
  float: right;
  display: block;
  margin: 1em 3em 0 3em;
  color: #31393a;
  text-decoration: none !important;
  font-size: 10px;
  z-index: 1;
}

.project img:hover {
  opacity: 0.5;
}

.white-scroll i:hover {
  opacity: 0.5;
}


@media (max-width: 950px) {
  .about-me {
    height: 47em;
  }

  .bio {
    clear: both;
    margin: 0 1em 0 1em;
    width: auto;
  }

  .bio p {
    margin-right: 0;
  }

  .me-pic img {
    margin: 1em;
  }

  .skill h2 {
    margin-top: 0;
  }

  footer a {
    margin: 0 6em 0 6em;
  }
}


@media (max-width: 600px) {
  .about-me {
    height: 55em;
  }

  footer a {
    margin: 0 2em 0 2em;
  }
}
